awscli-bundle[[:space:]]copy[[:space:]]2.zip filter=lfs diff=lfs merge=lfs -text
awscli-bundle[[:space:]]copy.zip filter=lfs diff=lfs merge=lfs -text
awscli-bundle.zip filter=lfs diff=lfs merge=lfs -text
